/*ex-1*/

.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}

/*ex-2*/

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/*ex-3*/

.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 100px;
}

/*ex-4*/

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    background: transparent;
}