/*ex-1*/

.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}

/*ex-2*/

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/*ex-3*/

.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 100px;
}

/*ex-4*/

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    background: transparent;
}

/*ex-5*/

.ex-5-square {
    transition: 3s;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.5;
}

/*ex-6*/

.ex-6-img {
    transition: 0;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/*ex-7*/

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: sepia(60%) grayscale(30%)
}

/*ex-8*/

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: hue-rotate(90deg) contrast(150%);
    border-radius: 60px;
}

/*ex-9*/

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: drop-shadow(0 0 20px rgb(63, 62, 62)) saturate(2);
    scale: 1.5;
    border-radius: 20px;
}

/*ex-10*/

.ex-10-icon {
    animation: rotate 3s infinite linear
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

/*ex-11*/

.ex-11-icon:hover {
    animation: partial-rotation 3s linear;
}

@keyframes partial-rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

/*ex-12*/

.ex-12-button:hover .ex-12-top-white {
    animation: left-to-right 3s infinite linear;
}

@keyframes left-to-right {
    0% {
        top: -10px;
        left: 10%;
      }
      50% {
        top: -10px;
        left: 60%;
      }
      100% {
        top:-10px;
        left: 10%;
      }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: right-to-left 3s infinite linear;
}

@keyframes right-to-left {
    0% {
        bottom: -10px;
        right: 10%;
      }
      50% {
        bottom: -10px;
        right: 60%;
      }
      100% {
        bottom: -10px;
        right: 10%;
      }
}

/*ex-13*/

.ex-13-button:hover .ex-13-top-white {
    animation: top-rotation 3s infinite ease-in;
}

@keyframes top-rotation {
    0%   {
        top: -10px; 
        left: 10%;
    }
    20%  {
        top: -10px; 
        left: 95%;
    }
    40%  {
        top: 50px; 
        left: 95%;
    }
    60%  {
        top: 50px; 
        left: -25%;
    }
    80% {
        top: -10px; 
        left: -25%;
    }
    100% {
        top: -10px; 
        left: 10%;
    }
    }

    .ex-13-button:hover .ex-13-bottom-white {
        animation: bottom-rotation 3s infinite ease-in;
    }
    
    @keyframes bottom-rotation {
        0%   {
            bottom: -10px; 
            right: 10%;
        }
        20%  {
            bottom: -10px; 
            right: 95%;
        }
        40%  {
            bottom: 50px; 
            right: 95%;
        }
        60%  {
            bottom: 50px; 
            right: -25%;
        }
        80%  {
            bottom: -10px; 
            right: -25%;
        }
        100% {
            bottom: -10px; 
            right: 10%;
        }
        }